/* PAGE */

.container {
  width: 90% !important;
}
.clean-row {
  padding: 0em;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("../images/bgcolor2.png");
  background-repeat: repeat;
  /* height: 40em; */
  /* color: #616161; */
}

.main-blue {
  color: #6699cc;
}