.splash-img-section {
    text-align: center;
}
.splash-img-block {
    opacity: 0.58;
    margin-left: -3.65em;
}

.UNHCR-img-block {
    position: absolute;
    width: 22em;
    top: 6.5%;
    left: 34%;
}
.compass-img-block {
    position: absolute;
    width: 22em;
    top: 25%;
    left: 34%;
}
.finger-print-img-block {
    position: absolute;
    width: 22em;
    top: 58.1%;
    left: 34%;
}
.home-splash-block {
    margin-top: 4em;
    width: 42em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.home-splash-img {
    width: 42em;
}
.home-logo-btn {
    width: 7.6em;
    position: absolute;
    top: 60%;
    left: 44.25%;
    cursor: pointer;
}

.home-nav-card {
    cursor: pointer;
    margin-top: 1em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #0099cc !important; 
    margin-bottom: 8em;
}
.home-nav-box-top {
    height: 2em;
    background-color: #0099cc;
}
.home-nav-card:hover {
   color: rgba(81, 181, 214, 0.64) !important;
}

.home-nav-img {
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 2em;
    width: 10em;
}
.home-nav-text {
    color: #0099cc;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    padding-bottom: 1.5em;
}
