.phone-case-section {
    margin-top: 0.5em;
    width: 22em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.phone-form-section {
    margin-top: 1.5em;
}
.phone-login-section {
    margin-top: -38em;
    z-index: 10;
}
.phone-login-text {
    color: #0099cc !important; 
}
.phone-finger-print {
    width: 15em;
}
.phone-open-wallet {
    margin-top: -1em;
    width: 15em;
    border-width: 0.1em;
    border-color: #0099cc !important; 
    cursor: pointer;
}
.phone-login-text {
    margin: 0.7em;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border-width: 0.1em;
    border-style: dashed;
    border-color: #0099cc !important; 
}

.phone-user-text {
    font-size: 0.95em;
    color: #0099cc !important; 
    margin: 0.2em;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    border-width: 0.2em;
    border-style: dashed;
    border-color: #0099cc !important; 
}
.phone-user-text-address {
    /* width: 10em; */
    font-size: 0.75em;
    margin-top: 0.35em;
    margin-left: -3.3em;
    color: #0099cc !important; 
    padding: 1em;
    text-align: center;
    font-weight: bold;
}
.phone-user-balance-head {
    margin: 1em;
    color: #0099cc !important; 
}
.phone-user-goal-text {
    padding: 0.85em;
    margin: 0.25em;
    font-size: 0.95em;
    color: #0099cc !important; 
    border-width: 0.1em;
    border-style: solid;
    border-color: #0099cc !important; 
}
.phone-user-goal-nope {
    padding: 0.85em;
    margin: 0.25em;
    font-size: 0.95em;
    color: #9fa2a3 !important; 
    border-width: 0.1em;
    border-style: solid;
    border-color: #9fa2a3 !important; 
    opacity: 0.64;
}
.phone-text-color {
    color: #0099cc !important; 
}